p {
	margin: 1rem 0;
	font-size: 1.15rem;
}

ul {
	padding-inline-start: 0;
}

li {
	list-style: none;
}

.text-color {
	color: #5f6368 !important;
}
.text-white {
	color: white !important;
}
.cursor-pointer {
	cursor: pointer;
}

.navbar-brand {
	color: #5f6368 !important;
	font-weight: 700;
	font-size: 1.5rem;
}

.rounded-lg {
	border-radius: 1.5rem !important;
}

.w-30 {
	width: 35% !important;
}
.mt-6 {
	margin-top: 7rem;
}
.mt-10 {
	margin-top: 10rem;
}
.banner {
	background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
		url('/img/cover.jpg');
	background-size: cover;
	height: 100vh;
	color: white !important;
	width: 100%;
	div {
		position: relative;
		top: 33%;
	}

	.hr-bar {
		border: white solid 1px;
	}

	.banner-btn {
		color: white;
		border: white 2px solid;
		padding: 0.75rem 1.5rem;
		text-decoration: none;
		border-radius: 50px;

		span {
			text-decoration: none;
		}

		&:hover {
			background-color: #fff;
			color: #00bcd4;
		}

		&:hover .hr-bar {
			border: #00bcd4 solid 1px;
		}
	}
}

.fac-con {
	display: flex;
	flex-direction: column;
	align-items: center;

	.img-container {
		padding: 1.25rem;
		border-radius: 100%;
		border: $primary 2px solid;

		.icon-img {
			height: 6rem;
		}
	}
}

.fac-para {
	font-weight: 200;
}

.fac-title {
	font-weight: 600;
}

.about-header {
	font-family: 'Oleo Script', cursive;
	font-size: 5rem;
	font-weight: 400;

	&::before {
		content: '“';
		font-size: 7rem;
	}

	&::after {
		content: '”';
	}
}

.productCard {
	width: 100;
}

.close {
	padding: 0.5rem !important;
}

.hr-bar {
	background-color: text-muted;
	margin: 0.5rem;
}

.form-label {
	color: $text-color;
}

.image-cursor {
	cursor: pointer;
}

.footer {
	position: relative;
	bottom: 0;
}

.footer-primary-bg {
	z-index: 100 !important;
	position: relative;
	background-color: #3c444c;

	h3 {
		font-weight: 600;
		margin-bottom: 0rem !important;
	}

	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		width: 70%;
	}
}

.footer-secondary-bg {
	z-index: 100 !important;
	position: relative;
	background-color: #5f6368;

	ul {
		margin: 0.4rem 0rem !important;
	}

	h5 {
		margin: 0.4rem 0rem !important;
		font-size: 16px;
	}
}

.footer h5 {
	color: white;
	cursor: context-menu;
}

.footer-links > li > a {
	margin: 1rem 0;
	text-decoration: none;
	color: #ffffffbb;
}

.footer-links > li > a:hover {
	color: #fff;
}

.form-slider {
	margin: 0 auto;
	padding: 100px 30px 0;

	@media (min-width: 800px) {
		max-width: 60%;
	}
}

.input-range {
	margin-bottom: 160px;
}

.review-item {
	padding: 0rem 1rem;
	border-radius: 10px;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
		background: #fff;

		h4 {
			color: var(--primary) !important;
		}
	}
}

.img-anc {
	position: relative;
	width: 75px;
	height: 75px;
	overflow: hidden;
	border-radius: 10px;

	.img-responsive {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		height: auto;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.cart-item-head {
	color: $text-color;
	font-style: normal;
	font-weight: 550;
	font-size: 22px;
}

.card-cart-coupon {
	width: 15.5rem;
	min-height: 5rem !important;
	margin: 0 2rem;
}

th {
	font-style: normal;
	font-weight: normal;
	color: #00bcd4;
	margin: 1.5rem 2rem;
}

.page-def {
	min-height: 100vh;
	width: 100%;
	position: relative;
	top: 100px !important;
	padding: 0px !important;
}
.center-screen {
	margin: 0 auto;
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.right-fade-in {
	animation: fadeInRight 700ms both;
}
.left-fade-in {
	animation: fadeInLeft 700ms both;
}
