h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 65px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 10px;
	color: #151723;
	text-transform: uppercase;
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
	color: #151723;
}

p {
	font-family: 'Nunito', sans-serif;
	color: #999fa5;
	font-weight: 400;
}

.notfoundimg {
	height: 25rem;
}
