.page-content-main-text{
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: var(--primary);
}
.form-label-profile {
    font-size: 147%;
    align-items: center;
    color: $text-color;
}
.drop-shadow {
    height: 3rem!important;
    padding: 0.4rem 2rem!important;
    background: #ffffff;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 21px!important;
}
      .profile {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        .profile-photo {
          cursor: pointer;
          border-radius: 50%;
          mix-blend-mode: multiply;
          width: 5rem;
          height: 5rem;
        }
        a {
          text-decoration: none;
        }
        #myImg:hover {
          opacity: 0.9;
        }
      }