$border-radius: 20px;

$base: #071739;
$lighter-shadow: rgba($primary, .2);
$white: #fff;
$gray: #8c8c8c;
$lighter-gray: rgba($gray, .1);
$time-line-width: 240px;
$transition: .3s all ease;

@mixin dragIndicator($property, $background, $z-index) {
  #{$property}{
      position: absolute;
      top: 0;
      z-index: $z-index;
      width: 0;
      height: 8px;
      border-radius: 5px;
      background: $background;
      &:hover{
        &::before{
          opacity: 1;
        }
        &::after{
          opacity: 1;
        }
      }
      &::before{
        opacity: 0;
        content: attr(data-content);
        display: block;
        position: absolute;
        top: -40px;
        right: -23px;
        width: 40px;
        padding: 3px;
        text-align: center;
        color: white;
        background: $text-color;
        border-radius: $border-radius;
    }
    &::after{
      opacity: 0;
      content:'';
      display: block;
      position: absolute;
      top: -18px;
      right: -8px;
      border-top: 8px solid $text-color;
      border-left:8px solid transparent;
      border-right:8px solid transparent;
    }
    #{$property}-drag{
      position: absolute;
      right: -7.5px;
      top: -7px;
      box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.1);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: white;
      transition: all .3s;
      &:hover{
        box-shadow: 0 0 0 6px $lighter-shadow;
      }
    }
  }
}

body{
  color: $base;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $lighter-gray;
  .card-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    box-shadow: 0px 0px 20px 0px $lighter-shadow;
    background: $primary;
    overflow: hidden;
    margin-top:20px;
    .current-value{
      width: 100%;
      
      .button-sidenav{
          margin: 3px!important;
          max-width: 60px;
          font-size: 16px!important;
          font-weight:550!important;
          color: white!important;
          padding: 0px 10px;
          border: 1px solid white!important;
          border-radius: 10px!important;
          background: $primary!important;
          box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.1);
        }
    }
    .values{
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      margin-bottom: 10px;
      width: $time-line-width;
      color:white;
    }
    #slider{
      position: relative;
      margin: 0 auto;
      width: $time-line-width;
      height: 8px;
      background: white;
      border-radius: 5px;
      cursor: pointer;

      @include dragIndicator("#min", white, 2);
      @include dragIndicator("#max", $text-color, 1);
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

*:focus{
  outline: none;
  box-shadow: 0 0 0 2px $primary;
}
