#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1;
  position:fixed;
  top:76px;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--primary);
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-nav {
  width: 250px;
  margin: 1rem 0rem;
  padding: 0;
  list-style: none;
  .nav-link{
    padding:0rem!important;
  }
}
.sidebar-nav > li {
  text-indent: 8.5px;
  line-height: 60px;
  width: 100%;
}
.sidebar-nav > li .sidenav-icon {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border-radius:20px;
  margin:0.25rem 0.5rem;
}
.sidebar-nav > li > .sidenav-icon:hover,
.sidebar-nav > li > .sidenav-icon:focus,
.sidebar-nav > li > a.active{
  text-decoration: none;
  color: var(--primary);
  background: #fff;
}
.sidebar-nav > li > .sidenav-icon i.fa {
  font-size: 28px;
  width: 60px;
}




#navbar-wrapper {
    width: 100%;
    position: absolute;
    top:78px;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: #fff;
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
  padding:0.5rem 0rem 0rem 0.5rem!important;
}
#navbar-wrapper .navbar .sidenav-icon {
  color: #757575;
}
#navbar-wrapper .navbar .sidenav-icon:hover {
  color: var(--primary);
}
#navbar-wrapper .navbar-inverse{
  transform: rotate(180deg);
  transition: all 0.5s ease;
}



#content-wrapper {
  min-height:90vh;
  width: 100%;
  position: absolute;
  top: 100px!important;
  padding: 0px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 250px;
  }
  
  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 250px;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }
  
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }
  
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
  .sidebar-nav > li .sidenav-icon {
    margin:0rem!important;
    border-radius:0rem;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}
